/* Box sizing rules and reset*/
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],ul, li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    /*font-family: "Montserrat", sans-serif;*/
    /* resetting font size to 10px makes rem math much easier*/
    /*font-size: 10px;*/
    box-sizing: border-box;
}
/*Set secting heading font*/
/*   h1,h2,h3,h4,h5,h6{*/
/*       font-family: 'Mali', cursive;*/
/*   }*/
/* Set core body defaults */
body {
    min-height: 100vh;
    height:100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: var(--bg-blk);
}
/*P, li {*/
/*    font-size: 1.6rem;*/
/*}*/
/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a {
    text-decoration: none;
}
h1,h2, p, label{
    color:var(--off-white-txt) ;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* ########## END GLOBAL ########## */
:root {
    --bg-blk: #0d0f15;
    --off-white-txt: #fefefe;
    --orange: #f19126;
}

header {
    margin-bottom: auto;
}
/*.nav-logo{*/
/*    width: 42px;*/
/*}*/
.container-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;

}


ul {
    margin-left: auto;
}

.enter-coffee-dropdown option {
    width: 200px;
}

.squiddy {
    font-size: 3rem;
}

.coffee-output{
    margin: 0 auto 20px auto;
    border:1px solid var(--orange);
    width: 100%;
    max-width:700px;
    height: 200px;
    border-radius: 8px;
}
.coffee-output-wrapper{
    width: 100%;
    height: 200px;
    /*padding: 15px 0;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    overflow: scroll;
    gap: 5px;
}

.coffee-item-output-div {

    margin-bottom: 25px;
    padding: 10px 0 10px 15px;
}

.coffee-output-wrapper p {
    padding: 20px 20px 5px 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
}
.coffee-output-wrapper p:last-of-type {
    padding: 0px 20px 5px 20px;

}
.coffee-output-wrapper::-webkit-scrollbar { width: 0 !important }
.coffee-output-wrapper{ scrollbar-width: none; }

.main-content{
    max-width:700px;
    margin: 0 auto;
}
h1 {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    padding: 2px;
}
#h1-accent{
    color: var(--orange);
    text-decoration: underline;
}
.btn-orange{
    background: var(--orange);
    border-color: var(--orange);
}

.add-coffee-dropdown {
    margin-bottom: 2rem;
}

.footer-image {
    display: none;
    transition: all 350ms ease-in-out;
}
/*footer{*/
/*    */
/*}*/
@media screen and (min-width: 992px) {

    .footer-image {
        display: block;
        margin: 0 auto;
        width: 10%;
        transition: all 350ms ease-in-out;
        animation: MoveUpDown 4000ms linear infinite;
        position: absolute;
        left: 45%;
        bottom: -40px;
        transform: translateX(-50%);
    }

    @keyframes MoveUpDown {
        0%, 100% {
            transform: translateY(0);

        }
        50% {
            transform: translateY(-20px);

        }
    }
}